<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    {{!-- Bootstrap File  --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- My CSS File  --}}
    <link rel='stylesheet' href="/public/assets/css/style.css" type='text/css'>

    <title>Scraper</title>
</head>

<body>
    <div class="container" id="wrapperContainer">
        {{{ body }}}
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6 copyright">
                    <p>
                        Copyright 2020
                    </p>
                </div>
                <div class="col-6">
                    <button id="btnAPI"><a href="/api" API></a></button>
                </div>
            </div>
        </div>
    </footer>

    {{!-- Bootstrap & jquery links  --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</body>

</html>